<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<link rel='stylesheet' href='/styles/style.css' />
	<link rel='stylesheet' href='/styles/login.css' />
</head>

<body>
	<div class="mini-box">
		<form class="signform" method="post" action="/admin/login">
			<div class="sign-title">Vino<span> 小客栈 </span> 后台</div>
			<div class="list">
				<label>Your Username 用户名 </label>
				<input type="text" name="name" class="item">
			</div>
			<div class="list">
				<label>And Your Password 密码</label>
				<input type="password" name="password" class="item">
			</div>
			<button type="submit" class="sign-btn">登录</button>
			<div class="sign-redirct">
				<div class="sign-tip">前台地址:
					<a href="http://www.xuyuyin.club" target="_blank">http://www.xuyuyin.club</a>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/sign.js"></script>
</body>

</html>
