/*
* 颜色
*/

.green {
	background: #5BC98A;
	color: #fff;
}

.green:hover {
	background: #98e2b8!important;
}

.blue {
	color: #00B7FF!important;
}

.red {
	background: #FF4081;
	color: #fff;
}

.red:hover {
	background: #FF6E9F!important;
}


/*
* 布局
*/

.pagination {
	margin: 20px 0px;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 888;
	background: #333;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.hidden {
	display: none!important;
}

.boot {
	width: 100%;
	height: auto;
	position: relative;
}

.box-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.title {
	margin-bottom: 30px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: inline-block;
	width: 34%;
	height: 34px;
	line-height: 34px;
	text-align: right;
}

.form-control {
	display: inline-block;
	width: 65%;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing: border-box;
}

.btn {
	width: 100px;
	height: 34px;
	display: inline-block;
    padding: 6px 12px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.redirect {
	width: 100%;
	height: 34px;
	line-height: 34px;
	color: #333;
}

.text-center {
	text-align: center;
}